name: CI

on:
  - pull_request
  - push

jobs:
  tests:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php: ['7.1', '7.2', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3', '8.4', '8.5']
    name: PHP ${{ matrix.php }}
    steps:
      -   uses: actions/checkout@v6
          with:
            fetch-depth: 5
      -   uses: shivammathur/setup-php@v2
          with:
            php-version: ${{ matrix.php }}
            extensions: xml
            coverage: none
      -   run: composer install --no-progress
      -   run: composer phpunit

  tests_lowest_dependencies:
    name: Lowest dependencies
    runs-on: ubuntu-24.04
    steps:
      -   uses: actions/checkout@v6
          with:
            fetch-depth: 5
      -   uses: shivammathur/setup-php@v2
          with:
            php-version: '7.1'
            extensions: xml
            coverage: none
      -   run: composer update --no-progress --prefer-lowest
      -   run: composer phpunit

  test_coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    steps:
      -   uses: actions/checkout@v6
          with:
            fetch-depth: 5
      -   uses: shivammathur/setup-php@v2
          with:
            php-version: '7.1'
            extensions: xml, xdebug
            coverage: xdebug
      -   run: composer install --no-progress
      -   run : |
            composer coverage
            # codecov.io
            bash <(curl -s https://codecov.io/bash)

  php-cs-fixer:
    name: PHP CS Fixer
    runs-on: ubuntu-24.04
    steps:
      -   uses: actions/checkout@v6
          with:
            fetch-depth: 5
      -   uses: shivammathur/setup-php@v2
          with:
            php-version: '8.4'
            extensions: xml
            coverage: none
      -   run: composer install --no-progress
      -   run: composer php-cs-fixer-dry-run

  phpstan:
    name: PHPStan
    runs-on: ubuntu-24.04
    steps:
      -   uses: actions/checkout@v6
          with:
            fetch-depth: 5
      -   uses: shivammathur/setup-php@v2
          with:
            php-version: '8.4'
            coverage: none
      -   run: composer install --no-progress
      -   run: composer phpstan